name: android_chat_app
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  another_flushbar: ^1.12.32
  collection: ^1.19.1
  cupertino_icons: ^1.0.8
  dio: ^5.9.0
  equatable: ^2.0.7
  flutter_riverpod: ^3.0.3
  flutter_secure_storage: ^9.2.4
  google_fonts: ^6.3.2
  go_router: ^16.3.0
  heroicons: ^0.11.0
  intl: ^0.20.2
  shared_preferences: ^2.5.3
  stomp_dart_client: ^3.0.1
  uuid: ^4.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/icons/icon_hello.png
    - assets/icons/icon_hello_light.png
    - assets/icons/icon_hello_dark.png

  
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  
